html{
    overflow: auto;
    overflow-x: hidden;
}

body{
    background-color: lightskyblue;
}

.heading{
    text-align: center;
}

.mainDiv{
    display: flex;
    height: 100vh;
    width: 30%;
    background-color: lightgrey;
    justify-content: center;
    border: lightslategrey;
    border-radius: 5%;
    align-items: center;
}

.outputDiv{
    padding-top: 50px;
}