html{
    overflow: auto;
    overflow-x: hidden;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    background-color: rgb(235, 235, 235);
}

.heading{
    text-align: center;
}

.mainDiv{
    display: flex;
    height: 50vh;
    width: 30%;
    background-color: lightgrey;
    justify-content: center;
    border: lightslategrey;
    border-radius: 3%;
    align-items: center;
    box-shadow: 5px 10px 10px #bdbdbd;
}

.outputDiv{
    padding-top: 50px;
}